<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Style" value="table { border-collapse: collapse; border-spacing: 0px; border: 1px solid gray; } th, td { padding: 5px; text-align: left; border: 1px solid gray; vertical-align: top ;} body {font-family: Consolas; font-size: 12px; }" />
    <add key="ColorEntireRow" value="false" />
    <add key="TopSlowestThresholdInMins" value="2" />
  </appSettings>
</configuration>
