<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Style" value="body {font-family: Consolas; font-size: 12px; width: 99% } select {padding: 5px 5px 5px 5px; border: 1px solid #ccc; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: 15% no-repeat #eee; font-family: Consolas; font-size: 12px; font-weight: bold; }" />
    <add key="ColorEntireRow" value="false" />
    <add key="TopSlowestThresholdInMins" value="2" />
  </appSettings>
</configuration>
